/* Estilos generales del contenedor del chat */
.chat-container {
    max-width: 600px;
    margin: 20px auto;
    padding: 10px;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-family: Arial, sans-serif;
}

/* Estilos de los mensajes */
.messages-container {
    max-height: 500px;
    overflow-y: auto;
    margin-bottom: 0px;
}

.message-bot {
    padding: 10px;
    margin: 10px 0;
    border-radius: 10px;
    background-color: #e3f2fd;
    color: #0d47a1;
    text-align: left;
}

/* Estilos del contenedor de entrada de texto */
.input-container {
    display: flex;
    align-items: center;
    justify-content:center;
    margin-top: 15px;
}

.input-field {
    width: 500px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 14px;
    text-align: center;
}

.buttons-container {
    display: flex;
}

.send-button, .voice-button {
    padding: 10px 20px;
    margin-left: 100px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    margin-top: 20px;
}

.send-button {
    background-color: #42a5f5;
    color: white;
}

.send-button:hover {
    background-color: #1e88e5;
}

.voice-button {
    background-color: #8bc34a;
    color: white;
}

.voice-button:hover {
    background-color: #7cb342;
}
