/* Estilos generales del contenedor del chat */
.chat-container {
    max-width: 600px;
    margin: 20px auto;
    padding: 10px;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-family: Arial, sans-serif;
}

/* Estilos de los mensajes */
.messages-container {
    max-height: 500px;
    overflow-y: auto;
    margin-bottom: 0px;
}

.message-bot {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .message-bot .avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .message-user {
    text-align: right;
    background-color: #dcedc8;
    color: #33691e;
    margin: 10px 0;
    padding: 10px;
    border-radius: 10px;
  }
  
  .message-bot p {
    background-color: #e3f2fd;
    color: #0d47a1;
    margin: 10px 0;
    padding: 10px;
    border-radius: 10px;
  }
  

/* Estilos del contenedor de entrada de texto */
.input-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}

.input-field {
    width: 500px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 14px;
    text-align: center;
}

.buttons-container {
    display: flex;
}

.send-button, .voice-button {
    padding: 10px 20px;
    margin-left: 100px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    margin-top: 20px;
}

.send-button {
    background-color: #42a5f5;
    color: white;
}

.send-button:hover {
    background-color: #1e88e5;
}

.voice-button {
    background-color: #8bc34a;
    color: white;
}

.voice-button:hover {
    background-color: #7cb342;
}

/* Estilos existentes ... */

.voice-button.recording {
    background-color: #ff4081;
    animation: pulse 1s infinite;
  }
  
  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }

  .avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
    display: inline-block;
    vertical-align: middle;
  }
  